{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
    <div class="container my-4">
        <h1>Bienvenue sur la page d'accueil</h1>

        {% if livres is not empty %}
            <div class="row">
                {% for livre in livres %}
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            {% if livre.image %}
                                <img src="{{ asset('uploads/livres/' ~ livre.image) }}" class="card-img-top" alt="{{ livre.titre }}">
                            {% else %}
                                <img src="https://via.placeholder.com/150" class="card-img-top" alt="Image de livre">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ livre.titre }}</h5>
                                <p class="card-text">ISBN: {{ livre.isbn }}</p>
                                <p class="card-text">Disponible: {{ livre.disponible ? 'Oui' : 'Non' }}</p>
                                <a href="{{path('app_livre_details' , {id: livre.id})}}" class="btn btn-primary" >Voir les détails</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Aucun livre trouvé.</p>
        {% endif %}
    </div>
{% endblock %}
